html {
    font-size: 1rem;
    font-family: 'PT Serif', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
}

header {
    border: 1px solid black;
    background: rgba(0, 32, 63, 1.00);
    color: rgba(173, 239, 209, 1.00);
    text-align: center;
    flex-grow: 0.25;
}

main {
    flex-grow: 10;
    display: flex;
}

.left {
    flex-grow: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 8fr;
    grid-template-areas: "today""task";
    border-right: 1px solid grey;
}

.today {
    grid-area: today;
    color: rgba(0, 32, 63, 1.00);
    background: rgba(173, 239, 209, 1.00);
    display: flex;
    flex-direction: row;
   justify-content: center; 
    align-items: center; 
}

.season-icon {
    height: 6rem;
    width: 6rem;
    margin: .3rem 0 0 0;
}

.today-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 9rem;
}

.today-date>p {
    margin: .2rem 1rem .2rem 0;
}

.todo {
    grid-area: task;
    background: rgba(0, 32, 63, 1.00);
    color: rgba(173, 239, 209, 1.00);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

input[type=submit] {
    padding: 0.25rem;
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 5rem;
}

input[type=text] {
    margin: 0.5rem 0;
    height: 1.5rem;
}

input {
    background-color: rgba(173, 239, 209, 1.00);
    border: none;
    color: rgba(0, 32, 63, 1.00);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 15rem;
    overflow: auto;
}

li {
    border-bottom: 1px outset rgba(173, 239, 209, 0.5);
    padding:0.25rem;
}

li>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}


li div>p {
    align-content: center;
    margin:0;
}

.calendar-container {
    background-color: rgb(243, 241, 241);
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.25fr 4fr;
    grid-template-areas: "month""days""dates";
    flex-grow: 5;
    text-align: center;
    display: none;
    padding: 0.5rem;
}

.month-container {
    grid-area: month;
    color: rgba(0, 32, 63, 1.00);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.month-container h3 {
    margin-top: 0;
}

.weekday-container {
    color: rgba(0, 32, 63, 1.00);
    grid-area: days;
    display: grid;
}

#dateContainer {
    color: rgba(0, 32, 63, 1.00);
    grid-area: dates;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    
}

#dateContainer div {
    border: 1px solid grey;
    background-color: white;
    padding: 0.5rem;
    text-align: left;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -1px 0 0 -1px;
    font-weight: bold;
}

#dateContainer div p {
    margin:0;
    padding:0;
    text-align: right;
    bottom:0;
    font-size: 0.7rem;
    color:  grey;

}

.weekdays-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/*Responsive Design*/

@media (min-width: 768px) {
    html {
        font-size: 1.2rem;
    }
    .calendar-container {
        display: grid;
    }
    ul {
        height: 10rem;
    }
}