body {
    height: 100%;
}

header {
    border: 1px solid black;
    background-color: palegreen;
    text-align: center;
}

main {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
}

.today {
    height: 20vh;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.today span:nth-child(1), span:nth-child(3) {
    padding-right: 1rem;
} 

.today p:nth-child(2) {
    font-size: 1.2rem;
}  

.todo {
    height: 60vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(71deg, rgba(34, 193, 195, 1) 0%, rgba(113, 124, 184, 1) 50%);
}

form{
    width:80%; 
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.calendar-container {
    background-color:lightgrey;
    width: 80vw;   
     
}

.weekday-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.date-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
}

.weekday-container div {
    border: 1px solid black;
    background-color: white;
    margin: 0.4rem;
    padding: 0.5rem;
    font-size: 15pt;
}

.date-container div {
    border: 1px solid black;
    background-color: white;
    margin: 0.4rem;
    padding: 0.5rem;
    font-size: 15pt;

}


